<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contack</title>
</head>
<style>
    .buttons{
        text-align: center;
        background-color: whitesmoke;
        display: block;
        font-family: 'Courier New', Courier, monospace;  
        border-radius: 20px;  

        }
    .tg{
        border: 1px solid white;
        border-radius: 5px;
        background-color: skyblue;

    }
</style>          
<body>
    <h2>Bu yerda contact ma'lumotlari bo'ladi</h2>
    <div class="buttons">
        <a href="https://instagram.com/azizilo_nabiyevv" class="insta">Instagram</a>
        <a href="https://t.me/azizillo_nabiyev" class="tg">Telegram</a>
        <a href="mailto:azizillonabiyev52@gmail.com"">Gmail</a>
        <a href="/">Bosh sahifa</a>
    </div>     
</body>
</html>