<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="color:greenyellow; border: 3px solid red; 
        border-radius: 25 px; display: block;
        text-align: center;
        ">Azizillo Nabiyev Ulug'bek o'g'li</h1>
    <p style="display: block; text-align: center; justify-content: right;">
        Men Azizillo 2007-yili Andijon viloyatidagi Paxtaobod tumanida tug'ilganman
        Hozirda python backend yo'nalishida o'qiman
        Googler bo'lishni maqsad qilganman
    </p>

    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
</body>
</html>